html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden;
}

body {
    display:grid;
    align-items:center;
    background-color: blueviolet;
    background:
  linear-gradient(217deg, rgba(255, 149, 0, 0.781), rgba(365, 0, 255, 0.253) 70.71%),
  linear-gradient(127deg, rgb(10, 15, 78), rgba(191, 0, 255, 0.578) 99.71%),
  linear-gradient(336deg, rgb(0, 0, 152), rgb(0, 37, 92) 70.71%);
}
h1{
    transition: color 0.25s;
}
h1:hover {
    color:rgb(255, 251, 0);
}

h1{
    display:inline;
    border-radius:25px;
    color:rgb(255, 240, 182);
    text-align: center;
    font-size:128px;
    font-family:serif;
    text-shadow: 8px 16px 1px rgb(213, 7, 7);
    margin: 24px;
    padding: 12px;
}
#button{
    background-color: transparent;
    color:rgb(255, 240, 182);
    font-size:56px;
    font-weight:bold;
    border:0cap;
    margin:auto;
    display:block;
    text-align:center;

    text-shadow: 3px 4px 1px rgb(213, 7, 7);
}
#button:hover{
    color:rgb(255, 98, 0);
    text-shadow: 3px 4px 1px rgb(255, 240, 182) ;
    cursor:pointer;
}
